.App {
    background-image: url("assets/images/fon.jpg");
    height: fit-content;
}

.icon_div {
    padding-top: 10px;
}

.icon {
    background: url("assets/images/icons.png");
    display: inline-block;
    height: 24px;
    width: 24px;
    cursor: pointer;
    margin: 0 3px;
}

.icon:active {
    background-color: #3e8e41;
    box-shadow: 0 4px #666;
}

.icon:hover {
    background-color: #3e8e41
}

.icon_fb {
    background-position: 120px 0;
}

.icon_tw {
    background-position: 96px 0;
}

.icon_gplus {
    background-position: 72px 0;
}

.icon_ok {
    background-position: 48px 0;
}

.icon_in {
    background-position: 24px 0;
}

.footer_text {
    text-align: left;
    font-size: 12px;
}

.footer_bottom {
    display: grid;
    grid-column: 1 /span 2;
}

.footer {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    font-size: 12px;
}