body {
  margin: 0;
  font-family: myriadpro-bold, sans-serif;
}

code {
  font-family: myriadpro-bold, sans-serif;
}

@font-face {
  font-family: 'myriadpro-bold';
  src: local('myriadpro-bold'), url(./fonts/myriadpro-bold.otf) format('otf');
}